:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px !important;
  min-height: 100vh;
  font-size: 20px !important;
  font-weight: 400 !important;
  letter-spacing: 0.5px !important;
}

p {
  color: white;
  font-size: 16px !important;
  font-weight: 400 !important;
  letter-spacing: 0.5px !important;
  margin-top: revert-layer !important;
  text-transform: uppercase;
}

.st {
  font-size: 32px !important;
  font-weight: 200 !important;
  color: black !important;
}

.heroText{
  color: black !important;
  font-size: 64px !important;
  font-weight: 700!important;
  letter-spacing: 0.5px !important;
}

h1 {
  font-size: 46px !important;
  font-weight: 700 !important;
  letter-spacing: 9px !important;
}

h2 {
  color: white !important;
  font-size: 20px !important;
  font-weight: 700 !important;
  letter-spacing: 9px !important;
}

h3 {
  color: white !important;
  font-size: 20px !important;
  font-weight: 700 !important;
  letter-spacing: 7px !important;
}

h4 {
  color: white !important;
  font-size: 20px !important;
  font-weight: 700 !important;
  letter-spacing: 4px !important;
}

h5 {
  color: white !important;
  font-size: 13px !important;
  font-weight: 700 !important;
  letter-spacing: 7px !important;
}

h6 {
  color: white !important;
  font-size: 20px !important;
  font-weight: 700 !important;
  letter-spacing: 7px !important;
}

h7 {
  color: black !important;
  font-size: 20px !important;
  font-weight: 700 !important;
  letter-spacing: 7px !important;
}

button {
  border-radius: 100px !important;
  border: 1px solid transparent;
  font-size: 16px !important;
  font-weight: 400 !important;
  letter-spacing: 3px !important;
  font-family: inherit !important;
  background-color: #002c4b;
  cursor: pointer;
  transition: border-color 0.25s;
  color: black !important;
  padding: 0.375rem 0.375rem;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button.botonopcion {
  color: white !important;
}

input {
  color: white !important;
  font-size: 13px !important;
  font-weight: 700;
  letter-spacing: 3px !important;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-bottom: 1px solid white;
  padding: 10px 20px;
}

input:focus {
  outline: none;
  box-shadow: none;
}
input:not(:placeholder-shown) {
  width: fit-content;
}

.input-wrapper {
  display: inline-block;
  position: relative;
}

.input-measure {
  position: absolute;
  visibility: hidden;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

label.text-uppercase {
  color: white; /* Set the text color to white */
}

label.form-check-label {
  color: white; /* Set the text color to white */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#root {
  margin: 0 !important;
  padding: 0 !important;
}

.white{
  color: white !important;
}

.size10{
  font-size: 10px !important;
  letter-spacing: 3px !important;
}


.colorBronce{
  color: #935619 !important;
}

.colorPlata{
  color: #858585 !important;
}

.colorOro{
  color: #977409 !important;
}

.bgBronce{
  background-color: #CD7F32 !important;
}

.bgPlata{
  background-color: #C0C0C0 !important;
}

.bgOro{
  background-color: #EFB810 !important;
}

.vw-100{
  overflow-x: hidden;
}